#grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    justify-content: center;
    grid-column: 1 / 10;
    grid-row: 1 / 10;
    justify-content: center;
    place-self: center;
    background-color: black;
}

body {
    font-family: 'Jersey 10', sans-serif;
    color: whitesmoke;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
}

header {
    font-size: 50px;
}

.score-board {
    font-size: 30px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start-button {
    font-family: 'Jersey 10', sans-serif;
    margin-bottom: 15px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: cyan;
    border-radius: 10px;
    border-color: white;
    letter-spacing: 2px;
}

.start-button:hover {
    font-size: 25px;
    border-color: white;
    border-width: thick;
}

.cell {
    display: flex;
    aspect-ratio: 1/1;
    border: solid black;
}

.wall {
    background-color: blue;
}

.path {
    background-color: black;
}

.pacman {
    background-image: url(./assets/images/pacjo-l.GIF);
    background-size: cover;
    height: 25px;
    width: 25px;
    background-color: transparent;
    place-self: center;
}

.pacman-right {
    background-image: url(./assets/images/pacjo-r.GIF);
    background-size: cover;
    height: 25px;
    width: 25px;
    background-color: transparent;
    place-self: center;
}

.specialPellet {
    background-image: url(./assets/images/pibu.GIF);
    background-size: cover;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.pellet {
    background-image: url(./assets/images/pellets.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostOne {
    background-image: url(./assets/images/roomba-red-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostTwo {
    background-image: url(./assets/images/roomba-cyan-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostThree {
    background-image: url(./assets/images/roomba-pink-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostFour {
    background-image: url(./assets/images/roomba-clyde-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.scaredGhost {
    background-image: url(./assets/images/roomba-scared-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
    opacity: 25%;
}

#opening-image {
    margin-top: 20px;
    height: 350px;
}

#instructions {
    text-align: center;
    line-height: 2;
    margin-bottom: 5px;
    font-size: 20px;
}