#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  justify-content: center;
  grid-column: 1 / 10;
  grid-row: 1 / 10;
  justify-content: center;
  place-self: center;
  background-color: black;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    color: whitesmoke;
    background-color: black;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;;
}

header {
    font-size: 50px;
}

.score-board {
    font-size: 30px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start-button {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 10px;
    height: 40px;
    width: auto;
}

.reset-button {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 10px;
    height: 40px;
    width: auto;
}

.cell {
  display: flex;
  aspect-ratio: 1/1;
  border: solid black;
}

.wall {
    background-color: blue;
}

.path {
    background-color: black;
}

.pacman {
    background-image: url(./pacjo-l.GIF);
    background-size: cover;
    height: 25px;
    width: 25px;
    background-color: transparent;
    place-self: center;
}

.specialPellet {
    background-image: url(./pibu.GIF);
    background-size: cover;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.pellet {
    background-image: url(./pellets.png);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostOne {
    background-image: url(./roomba-red-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostTwo {
    background-image: url(./roomba-cyan-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostThree {
    background-image: url(./roomba-pink-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.ghostFour {
    background-image: url(./roomba-clyde-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}

.scaredGhost {
    background-image: url(./roomba-scared-up.PNG);
    background-size: cover;
    height: 25px;
    width: 25px;
    place-self: center;
}